<h1>List Detail</h1>
<p>Name: <%= @list.name %></p>

<%= link_to "delete this list", list_path(@list), class: "btn btn-cancel", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" } %>
